html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.to-do-list-header {
  font-size: 25pt;
  background-color: beige;
  width: 770px;
  text-align: center;
  font-family:fantasy;
  position: relative;
  left: 30%;
}

.list {
  border: 2px solid rgb(182, 140, 67);
  width: 400px;
  margin: auto;
}

.form-titles {
  padding-top: 3%;
}